In [4]:
import pandas as pd
names = ['Bob','Jessica','Mary','John','Mel']
grades = [76,95,77,78,99]
bsdegrees = [1,1,0,0,1]
msdegrees = [2,1,0,0,0]
phddegrees = [0,1,0,0,0]
GradeList = zip(grades, bsdegrees, msdegrees, phddegrees)
df = pd.DataFrame(data=GradeList,
 columns=['grades','bsdegrees','msdegrees','phddegrees'])
df

   grades  bsdegrees  msdegrees  phddegrees
0      76          1          2           0
1      95          1          1           1
2      77          0          0           0
3      78          0          0           0
4      99          1          0           0

In [8]:
df['grades'].mean() # arithmetic average for the grades

85.0

In [6]:
df['bsdegrees'].count() # number of values in the bsdegrees column

5

In [11]:
df['grades'].std() # standard deviation of the grades

11.067971810589327

In [12]:
df['grades'].min() # minimum value for the grades column

76

In [13]:
df['grades'].max() # maximum value in the grades column

99

In [17]:
df['grades'].quantile(.75) # computes the third quartile

95.0