In [1]:
import pandas as pd
names = ['Bob','Jessica','Mary','John','Mel']
grades = [76,95,77,78,99]
bsdegrees = [1,1,0,0,1]
msdegrees = [2,1,0,0,0]
phddegrees = [0,1,0,0,0]
GradeList = zip(grades, bsdegrees, msdegrees, phddegrees)
df = pd.DataFrame(data=GradeList,
 columns=['grades','bsdegrees','msdegrees','phddegrees'])
df

   grades  bsdegrees  msdegrees  phddegrees
0      76          1          2           0
1      95          1          1           1
2      77          0          0           0
3      78          0          0           0
4      99          1          0           0

In [8]:
df['grades'].mean() # arithmetic average for the grades

85.0

In [2]:
df['grades'].count() # number of values in the grades column

5

In [3]:
df['grades'].std() # standard deviation of the grades

11.067971810589327

In [4]:
df['grades'].min() # minimum value for the grades column

76

In [5]:
df['grades'].max() # maximum value in the grades column

99

In [10]:
df['grades'].quantile(.25) # computes the first quartile

77.0

In [9]:
df['grades'].quantile(.5) # computes the second quartile

78.0

In [11]:
df['grades'].quantile(.75) # computes the third quartile

95.0

In [12]:
df['grades'].median() # median = the middle value if they are sorted in order

78.0

In [13]:
df['grades'].mode() # mode = the most common single value, finds modes of the values in the column

0    76
1    77
2    78
3    95
4    99
dtype: int64

In [14]:
df['grades'].var() # computes the variance of the values in the column

122.5

In [15]:
df.var() # computes variance on all numeric columns

grades        122.5
bsdegrees       0.3
msdegrees       0.8
phddegrees      0.2
dtype: float64