In [1]:
import pandas as pd
names = ['Bob','Jessica','Mary','John','Mel']
grades = [76,-2,77,78,101]
GradeList = zip(names,grades)
df = pd.DataFrame(data = GradeList,
 columns=['Names', 'Grades'])
df
# Filter out the grades that are above 100
df.loc[(df['Grades'] >= 100,'Grades')] = 100
# Filter out the grades that are below 0
df.loc[(df['Grades'] <= 0,'Grades')] = 0
df.head()

     Names  Grades
0      Bob      76
1  Jessica       0
2     Mary      77
3     John      78
4      Mel     100